# Nextcloud signing secrets
*.key
*.csr
*.crt
*.pem
*.p12
*.pfx
*.der

# Generated release archives
*.tar.gz
*.zip
*.signature
*.sha256
appinfo/signature.json

# Local development files
.idea/
.vscode/
